#============= init ==============
allow init debugfs:file write;
allow init device:chr_file { create unlink };
allow init firmware_file:dir mounton;
allow init sensors_device:chr_file getattr;
allow init sensors_socket:sock_file write;
allow init sensors:unix_stream_socket connectto;
allow init sysfs:file { setattr rw_file_perms };
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file rw_file_perms;
allow init self:socket { create ioctl read write };
allow init proc:file setattr;
allow init sysfs_leds:lnk_file read;
allow init vfat:dir mounton;