allow servicemanager hal_power_default:dir rw_dir_perms;
allow servicemanager hal_power_default:file rw_file_perms;
allow servicemanager hal_power_default:process getattr;