#============= cmhw ==============
allow system_server display_sysfs:file { read write };
allow system_server mediaserver:unix_stream_socket write;
allow system_server vibeamp_sysfs:file { read write open getattr };
allow system_server persist_file:file read;
allow system_server debugfs:file { getattr open read };
allow system_server userspace_reboot_config_prop:file { getattr open read };
allow system_server hal_light_default:process signal;